@import "variables";
/* You can add global styles to this file, and also import other style files */
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;

  &:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  &:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  &:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }
}

.anticon {
  vertical-align: 1px;
}